<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exaple.fitnessfreak"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_w"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="health.fitnessfreak.Main"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity            
            android:name="health.fitnessfreak.UserProfile">            
        </activity>
        <activity            
            android:name="health.fitnessfreak.RecordsActivity">            
        </activity>
         <activity            
            android:name="health.fitnessfreak.WalkActivity">            
        </activity>
         <activity            
            android:name="health.fitnessfreak.BMIActivity">            
        </activity>
        <activity            
            android:name="health.fitnessfreak.Settings">            
        </activity>
        <activity            
            android:name="health.fitnessfreak.YesterdayRecords">            
        </activity>
        <activity            
            android:name="health.fitnessfreak.LastSevenDaysRecords">            
        </activity>
        <activity            
            android:name="health.fitnessfreak.LastThirtyDaysRecords">            
        </activity>
         <service android:name="health.fitnessfreak.StepService"/>
    </application>

</manifest>
